

.loginWrap {
    display: flex;
    background:transparent;
    color: white;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 35rem;
    height: 12rem;
    border-radius: 5px;
}

.formWrap {
    display: inherit;
    justify-content: center;
    align-items: center;
    width:85%;
    height: 80%;
    border-radius: 10px;
    border-radius: 5px;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px; 
    background: transparent;
    
}
.containerText {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.formField {
    display: grid; 
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;   
    height: 5rem;
    padding-bottom: 10px;
    padding-top: 5px; 
    font-size: 1.1rem;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    
}

.inputField {
    width: 90%;
    font-size: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.253);
    border: 1px solid white;
    color: white;
}
.regStyle {
    display: flex;
    font-size: 0.8rem;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.regLink {
    display: flex;
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 0;
    border: 1px solid white;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
}

.linkStyle:visited , .linkStyle:link {
    text-decoration: none;
    color: white;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.loginWrap {
	-webkit-animation: fade-in 1.2s ease-in both;
	        animation: fade-in 1.2s ease-in both;
}
